<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <meta charset="utf-8" />
    <title>Directives</title>
    <script src="../Scripts/angular.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .odd{background-color: lightcoral}
        .even{background-color: lavenderblush}
    </style>
    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope, $http) {
                var cssFlag = 0;

                $scope.data = {};

                $scope.todos1 = [
                    { action: "Get groceries", complete: false },
                    { action: "Call plumber", complete: false },
                    { action: "Buy running shoes", complete: true },
                    { action: "Buy flowers", complete: false },
                    { action: "Call family", complete: false }];

                $scope.viewFile = function () {
                    return $scope.showList ? "list.html" : "table.html";
                };

                $scope.reportChange = function () {
                    console.log("Displayed content: " + $scope.viewFile());
                }

                $http.get('/AngularJSEx1/Api/Orders').then(function (response) {
                    var jsonString = angular.toJson(response.data);
                    $scope.todos = angular.fromJson(jsonString);
                });

                $scope.checkCss_1 = true;

                $scope.checkCss = function () {
                    cssFlag++;
                    if (cssFlag % 2 == 0) {
                        $scope.checkCss_1 = true;
                    }
                    else {
                        $scope.checkCss_1 = false;
                    }
                }

                //$scope.checkCss_1 = true;
            });
    </script>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3>Use ng-switch</h3>
        <div class="well">
            <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
                <label ng-cloak>
                    <input type="radio" ng-model="data.mode"
                           value="{{button}}" ng-checked="$first"/>
                    {{button}}
                </label>
            </div>
        </div>
        
        <!--這個 ng-switch 指令使用一個 on 屬性來指定表達式，表達式的作用是決定哪部分的內容會被顯示出來，如下所示:-->
        <!--這邊是指定 data.mode 模型屬性的值-->
        <div ng-switch on="data.mode" ng-cloak>
            <div ng-switch-when="Table">
                <table class="table">
                    <thead>
                        <tr><th>#</th><th>Action</th><th>Done</th></tr>
                    </thead>
                    <tr ng-repeat="item in todos1" ng-class="$odd ? 'odd' : 'even'">
                        <td>{{$index + 1}}</td>
                        <td ng-repeat="prop in item">{{prop}}</td>
                    </tr>
                </table>
            </div>
            <div ng-switch-when="List">
                <ol>
                    <li ng-repeat="item in todos1">
                        {{item.action}}<span ng-if="item.complete"> (Done)</span>
                    </li>
                </ol>
            </div>
            <div ng-switch-default>
                Select another option to display a layout
            </div>
        </div>

        <h3 class="panel-heading">Use include toggle</h3>
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="showList" />
                    Use the list view
                </label>
            </div>
        </div>

        <!--onload屬性是用於指定當內容載入後會被計算的表達式，對此，我指定了對 reportChange 行為的呼叫。-->
        <ng-include src="viewFile()" onload="reportChange()"></ng-include>

        <div ng-include="viewFile()" onload="reportChange()"></div>

        <h3 class="panel-heading">To Do List</h3>
        <!--Data items will go here...<br />-->
        <div>There are {{todos.length}} items</div>
        <div>
            There are <span ng-bind="todos.length"></span> items(use property way).
        </div>

        There are <span class="ng-bind: todos.length"></span> items(use class way).
        <div ng-bind-template="First: {{todos[0].customerOwner.companyName}}. Second: {{todos[1].customerOwner.companyName}}">
        </div>

        <div ng-non-bindable>
            AngularJS uses {{ and }} characters for templates
        </div>
        <!--<div class="pull-right btn-group">
        <a ng-repeat="page in todos | pageCount:pageSize" ng-click="selectPage($index + 1)"
           class="btn btn-default" ng-class="getPageClass($index + 1)">
            {{$index + 1}}
        </a>
    </div>-->
        <!--<button ng-click="checkCss(true)" ng-class="cssFlag ? col-xs-3 : col-lg-8">-->
        <button ng-click="checkCss()" ng-class="checkCss_1 ? 'btn btn-success col-xs-3' : 'btn btn-primary btn col-lg-8'">
            Dynamic Css
        </button>

        <!--<button ng-click="checkCss()" ng-class="checkCss_1 ? 'btn col-xs-3' : 'btn col-lg-8'">
            change width
        </button>-->

        <div>
            <!--<pre>{{cssFlag | json}}</pre>-->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CustomerID</th>
                        <th>CompanyName</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="item in todos">
                        <!--使用 ng-repeat 指令所提供的 $index 變數來顯示各個項目在陣列中的位置。
                        <!--<td>{{$index + 1}}</td>
                    <td>{{item.customerID}}</td>
                    <td><span ng-if="$first || $last">{{item.customerOwner.companyName}}</span></td>
                    <td>{{item.customerOwner.companyName}}</td>
                    <td ng-repeat="prop in item">{{prop}}</td>
                    <td ng-repeat="(key, value) in item">
                        {{key}} = {{value}}
                    </td>
                </tr>-->

                    <tr ng-repeat-start="item in todos1" ng-class="$odd ? 'odd' : 'even'">
                        <td>This is item {{$index}}</td>
                    </tr>
                    <tr>
                        <td>The action is: {{item.action}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>Item {{$index}} is {{$item.complete? '' : "not "}} complete</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in todos1" ng-class="$odd ? 'odd' : 'even'">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td><span ng-if="$first || $last">{{item.complete}}</span></td>

                </tr>

            </table>
            <h3 class="panel-heading">Use part view</h3>

            <!--遇到的第一個除了可作為屬性及類別外，還可以作為HTML元素的內建指令。-->
            <!--如這份列表所示，指令名稱即是元素的標籤名稱。-->
            <ng-include src="'table.html'"></ng-include>
        </div>
        <!--<pre>{{todos|json}}</pre>-->


    </div>
</body>
</html>